body{
/*    background-image: url('../images/background-img.jpg');
    background-repeat: repeat;
    background-size: cover;*/
    background-color: #909090;

}

.col-main{
    background-color: lightgray;
}



.index-h1{
    color: white;
    padding: 10px 0px;
}

.content-scroll{
    height: 100px;
}

.footer-height{
    
    border-top: 5px solid #5c5b5b;
}

.footer-indeed{
    height: 30px;
}


/*-----start index.html Page Styles-----*/
.row-content img{
    width: 200px;
    float: left;
    margin-right: 15px;
}


.row-content{
    padding-top: 10px;
    text-align: justify; 

    
}
ol{
    display: block;
    list-style-type: inherit;
}

/*-----end index.html Page Styles-----*/

/*-----start contact.html Page Styles-----*/
.row-form-content{
    padding-top: 10px;
   
}
/*-----end contact.html Page Styles-----*/



@Media screen and (max-width: 480px){
    .row-main{
        margin: 0 2px !important;
    }

}
